[Unit]
Description=Set powersave mode

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/set_powersave_mode.sh

[Install]
WantedBy=multi-user.target
